@import url('../../apps/keep/assets/keep.css');
@import url('../../apps/books/assets/css/books.css');
@import url('../../apps/emails/assets/emails.css');
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    /* background: linear-gradient(to right, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 86%, rgba(145, 232, 66, 1) 100%) */
    /* background: linear-gradient(45deg, rgba(79, 125, 168, 1) 0%, rgba(79, 125, 168, 1) 36%, rgba(41, 124, 217, 1) 64%, rgba(32, 124, 229, 1) 71%); */
    background: linear-gradient(135deg, rgba(79, 125, 168, 1) 0%, rgba(79, 125, 168, 1) 36%, rgba(152, 176, 201, 1) 64%, rgba(170, 189, 209, 1) 71%);
}

a {
    text-decoration: none;
}

div a i {
    text-decoration: none;
}

input[type="radio"] {
    display: none;
}

input[type="color"] {
    opacity: 0;
    margin-left: -30px;
    cursor: pointer;
}


/* ------------------ components ------------------- */

header img {
    width: 180px;
    padding: 20px;
    transition: 0.3s;
}

header img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.appsus-header {
    background-color: white;
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.66);
}

.home-page {
    justify-content: center;
    height: 82vh;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 70px;
    color: #4e0c21;
}

.home-page span {
    font-size: 50px;
}

.home-page img {
    padding-top: 96px;
}

.nav-bar {
    width: 80%;
    margin-right: 30px;
}

.main-nav-list {
    font-size: 2em;
    font-family: 'Exo 2', sans-serif;
    color: white;
    width: 100%;
    padding: 0px 20px 20px 20px;
}

.main-nav-list a {
    color: #2f3640;
    cursor: pointer;
    transition: 0.3s;
}

.main-nav-list a:hover {
    color: #0abde3;
}

a.main-nav-active {
    color: #8b160af0;
}


/* ------------------helpers------------------- */

.flex {
    display: flex;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.content-center {
    align-content: center;
}

.align-end {
    align-items: flex-end;
}

.align-start {
    align-items: flex-start;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.clean-list {
    list-style-type: none;
}

.grow {
    flex-grow: 1;
}

.items-stretch {
    align-items: stretch;
}


/* ________TODO_>>_DESIGN_THE_USER_MSG________ */

.user-msg {
    background-color: aliceblue;
    position: fixed;
    font-size: 1.2em;
    padding: 10px 20px;
    right: 3vw;
    bottom: 5vh;
    border: 2px solid darkslategray;
    border-radius: 30px;
    height: 75px;
    width: 215px;
    text-align: center;
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 900;
    color: #047204;
    transition: 0.4s;
}


/* -------------------------- SWAL----------------------------------- */

.swal2-container {
    font-family: 'Hind Madurai', sans-serif;
}

.swal2-container button {
    font-family: 'Hind Madurai', sans-serif;
}


/* ---------------------------------BreakPoints----------------------------------------- */


/* -----------------------------------Emails---------------------------------------------- */

@media only screen and (max-width: 1200px) {
    .side-nav {
        width: 100vw;
        min-width: 660px;
        height: 60px;
        flex-direction: row;
        box-shadow: none;
    }
    .tray-btn {
        /* flex-direction: column; */
        flex-direction: row;
        margin-right: 50px;
    }
    .email-container {
        flex-direction: column;
    }
    .email-nav-active {
        background-color: inherit;
        color: black;
        font-weight: bolder;
    }
    .new-mail-btn {
        margin-left: 20px;
        margin-bottom: 9px;
    }
    .read-email {
        font-size: 0.8em;
    }
    .unread-mail {
        font-size: 0.8em;
    }
    .emails-list {
        padding-left: 7px;
    }
    .emails-list li {
        padding: 8px;
        margin-top: 5px;
        border-radius: 8px;
        font-family: 'Hind Madurai', sans-serif;
        height: 85px;
        display: flex;
        align-items: center;
        min-width: 630px;
    }
    .preview-subject {
        display: flex;
        flex-direction: column;
        font-size: 0.8em;
    }
    .preview-subject div {
        font-size: 0.8em;
    }
    .email-details-main h1 {
        font-size: 1.5em;
    }
    .email-details-main h2 {
        font-size: 1em;
    }
    .email-details-main p {
        font-size: 0.8em;
    }
    .email-details-btns {
        font-size: 0.8em;
    }
    .email-search-box {
        width: 100vw;
        display: flex;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 39px;
        background-color: white;
        padding: 20px;
    }
    /* -----------------------------------Header------------------------------- */
    .main-nav-list {
        font-size: 1.5em;
        font-family: 'Exo 2', sans-serif;
        color: black;
        width: 100%;
        padding: 20px;
        border-radius: 0;
        background-color: inherit;
        min-width: 480px;
    }
    .main-nav-list a {
        color: #353b48
    }
    .a.main-nav-active {
        color: #0abde3;
    }
    header img {
        width: 140px;
    }
    /* -----------------------------------------MissKeep-------------------------------- */
    .pinned-notes-container {
        align-items: center;
        flex-direction: column;
    }
    .notes-list {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .notes-container {
        flex-wrap: nowrap;
        align-items: center;
    }
    /* ----------------------------------------Books---------------------------------------- */
    .book-list {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .filter {
        padding: 20px 25px 20px 32px;
    }
    .filter h1 {
        display: none;
    }
    .filter-form {
        width: 100%;
    }
}